<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="subtitle is-4">
                    <strong> BUSCA KITSU</strong> TESTE FRONT-END
                </h1>
            </div>
        </div>
        <div class="navbar-end name-candidate">
            <div class="navbar-item">
                <p class="subtitle is-4 ">
                    Alexandre Oliveira
                </p>
            </div>
        </div>
    </nav>
    <app-character-list></app-character-list>
</div>